body{
    color: rgb(241, 13, 13);
    background: rgb(196, 25, 139);
    margin: 0px;
    font-family: "Permanent Marker", sans-serif;
}
header{
    border-bottom: solid 2px rgb(0, 38, 255);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0);
}

section{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
 